body {
  background-color: white;
  color: darkgreen;
  font-family: Courier;
  font-weight: bolder;
  text-transform: uppercase;

}

h1 {
  color: orangered;
  font-family: Helvetica;
  font-weight: 100;
  letter-spacing: 2 px;
  font-size: 30px;
  font-weight: bolder;
  text-transform: capitalize;


}
